<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.motor.com.co/files/article_main/files/crop/uploads/2021/05/19/60a56df0c716c.r_1621458635032.0-120-1920-1080.jpeg" class="img-fluid" alt="Responsive image">

            <div class="card-body">
              <p class="card-text">Para celebrar el aniversario 60 de Mini, David Brown Automotive fabricará 60 unidades de este Mini con varios trucos bajo la manga.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.motor.com.co/files/article_main/uploads/2021/05/14/609eb974adc17.jpeg" class="img-fluid" alt="Responsive image">

            <div class="card-body">
              <p class="card-text">La marca logró recorrer con el SUV Nexo más de 887 kilómetros con una sola carga, superando el registro mundial.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.motor.com.co/files/article_main/files/crop/uploads/2021/05/12/609c07d36b021.r_1620839999765.534-223-1828-870.jpeg" class="img-fluid" alt="Responsive image">

            <div class="card-body">
              <p class="card-text">La camioneta recibió un ‘face lift’ con más ayudas de conducción y el más avanzado sistema de infoentretenimiento.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">10 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.motor.com.co/files/article_main/files/crop/uploads/2021/05/13/609d7b817160c.r_1621023334543.0-167-920-627.jpeg" class="img-fluid" alt="Responsive image">

            <div class="card-body">
              <p class="card-text">La 105ª edición de las 500 Millas de Indianápolis ya tiene un protagonista fijo: un Corvette C8.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.motor.com.co/files/article_main/files/crop/uploads/2021/05/14/609eab29ba8ab.r_1621454139324.0-169-920-629.jpeg" class="img-fluid" alt="Responsive image">

            <div class="card-body">
              <p class="card-text">‘Subir la potencia y bajar el peso’, fue la receta que Alfa Romeo usó para preparar esta edición.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://www.motor.com.co/files/article_main/uploads/2021/05/19/60a53a5e0f210.jpeg" class="img-fluid" alt="Responsive image">

            <div class="card-body">
              <p class="card-text">Primero de una serie de nuevos carros eléctricos de la marca y su particular estética revive el cupé.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>